.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

a {
    text-decoration: none;
    color: inherit;
  }